html ,body,main,div,h1,h2,h3,h4,ul ,input,label,a,figure,img{ 
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    text-decoration:none; 
    list-style:none;
    font-family: 'Reggae One', cursive;
    } 

:root{
    --bg-color:#ffc857;
    --primary-color:#ce9127; 
    --text-color:#f5f5f5;
    --bg-div:#efd5a9;
}  

.hidden{
    display: none;
}

body{
    height: 100vh;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.dE_LlZyWaqhKtAcIBl7BvwHaEK&pid=Api&P=0&w=309&h=174);
    background-position: center;
}

    header{
        height: 10vh;
        width: 90vw;
        padding:15px; 
        font-weight: bolder;
        margin: 0 auto;
    }  

        h1{
        color: var(--primary-color);
        font-size: 1.9rem;
        text-align: center;
         } 
 
        .icons{
         width: 100vw;
         height: 30px;
         background-color: var(--text-color);
         margin: 5px auto; 
         display: flex;
         justify-content: center;
         align-items: center;
        } 
 
     .fa, .far, .fas{
         width: 20px;
         margin: 0 5px;
         size: 9px;
     }
       


    .game-card , .point-board{
        height: 35%;
        width: 90vw;
        margin: 20px auto;
        background-color: var(--primary-color);
        display:flex;
    }
 
     .game-player {
         width:48% ;
         height:90%;
         margin: auto;
         border: 5px;
         background-color:var(--bg-div);
         box-shadow: 3px 5px 4px rgba(36, 4, 4, 0.527);
     }   
     
     
/*HEADER*/ 
     h2{
         text-align: center;
         font-size: 1.2rem;
         color: var(--text-color);
         padding: 15px;
     }

     h3{
         text-align: center;
         font-size: 1rem;
         padding: 10px;
         font-weight: 500;
         color:black;
     } 
 
     
     div.game-player{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content:baseline;
        }

        .game-player>h3{color: black;}
        
        label{
            width: 80%;
            margin: 0 auto;
            font-size: 15px;
            margin-bottom: 10px;
            
        }

        #lista-suspensa{ 
           width: 120px;
           height: 40px;
           background-color:var(--text-color);
           padding-left: 5px;
           border-radius: 8px;
           font-size: 1rem;
           border: 2px solid var(--primary-color);
           cursor: pointer;
           box-shadow: 3px 5px 4px rgba(36, 4, 4, 0.527);
           font-weight: 300;
        }  

            option,select{
            font-family:  'Reggae One', cursive;
            }
   
            .btn-maquina{
            height: 40px;
            width: 120px;
            display: block;
            border: 2px solid var(--primary-color);
            border-radius: 8px;
            cursor: pointer;
            box-shadow: 3px 5px 4px rgba(36, 4, 4, 0.527);
            margin-top: 28px;
            } 

     .escolha-maquina, .escolha-user{
        width:90%;
        height: 50px;
        margin: auto;
        border-radius: 5px;
        background-color:var(--text-color); 
        text-align: center;
        padding-left: 5px;
        box-shadow: 3px 5px 4px rgba(36, 4, 4, 0.527);
        font-size: 13px;
        
        
     }   

     .rotated {
         /* Equal to rotateZ(45deg) */
        
      }


/*SHOW RESULT*/ 
.show-result{
    width:80%;
    height: 5%;
    margin: 20px auto;
    border-radius: 5px;
    background-color:var(--text-color); 
    box-shadow: 3px 5px 4px rgba(235, 230, 230, 0.527);
    text-align: center;
    } 

    .jogar-novamente{
        display: block;
        margin: 0 auto;
        width: 180px;
        height: 60px;
        background-color:var(--text-color);
        padding-left: 5px;
        border-radius: 8px;
        font-size: 1rem;
        border: none
        cursor: pointer;
        box-shadow: 3px 5px 4px rgba(235, 230, 230, 0.527);
     } 

      .jogar-novamente:focus{
          background-color:var(--bg-color)
      }

/*POINT-BOARD*/ 

     .point-board{
         background-color: rgb(1, 58, 1);
         height: 20%;
         border: 1px solid var(--primary-color);
     }
     
     section.point-board>h3{
      margin: auto ;
      color:var(--text-color);
     }

     
@media(min-width:1024px){
    header{
        height: 5vh;
    } 

    h1{
        font-size: 2.5rem;
    } 

    .game-player>h3, h3  {
        font-size: 1.6rem;
    } 

    label{
        text-align: center;
        font-size: 1.6rem;
    } 

    .btn-maquina { 
        margin-top: 45px; 
    }
    .escolha-maquina, .escolha-user  {
        padding: 15px 10px;
        font-size: 1.2rem; 
        margin: 10px;
      
    } 

    .show-result{ 
        max-width: 900px;
        font-size: 1.8rem;
        padding: 18px 10px;
    }
}